<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.car.mapper.sys.MixerMapper" >
  <resultMap id="BaseResultMap" type="com.car.domain.sys.Mixer" >
    <id column="mixer_id" property="mixerId" jdbcType="INTEGER" />
    <result column="mixer_fcode" property="mixerFcode" jdbcType="VARCHAR" />
    <result column="mixer_ccode" property="mixerCcode" jdbcType="INTEGER" />
    <result column="plate_no" property="plateNo" jdbcType="VARCHAR" />
    <result column="cur_load" property="curLoad" jdbcType="DECIMAL" />
    <result column="net" property="net" jdbcType="SMALLINT" />
    <result column="bridge" property="bridge" jdbcType="TINYINT" />
    <result column="reg_date" property="regDate" jdbcType="DATE" />
    <result column="owner_code" property="ownerCode" jdbcType="INTEGER" />
    <result column="owner_name" property="ownerName" jdbcType="VARCHAR" />
    <result column="useable" property="useable" jdbcType="TINYINT" />
    <result column="mixer_status" property="mixerStatus" jdbcType="TINYINT" />
    <result column="lately_dlv_id" property="latelyDlvId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    mixer_id, mixer_fcode, mixer_ccode, plate_no, cur_load, net, bridge, reg_date, owner_code, 
    owner_name, useable, mixer_status, lately_dlv_id
  </sql>


  <select id="selAllLine" resultType="com.car.domain.sys.Line">
      SELECT
        line_id,
        line_name
      FROM b_line
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from b_mixer
    where mixer_id = #{mixerId,jdbcType=INTEGER}
  </select>

  <select id="insertDrvOnduty" >
    INSERT INTO b_drv_onduty(mixer_id, drv_id) VALUES (#{mixerId},#{drvId})
  </select>

  <select id="selLineMixer" resultType="Dlv">
      SELECT
        DISTINCT d.mixer_fcode,
        d.dlv_status,
        d.line_id
      FROM b_dlv d
      INNER JOIN b_line l ON d.line_id = l.line_id
      WHERE d.dlv_status IN (1,2,3)
      ORDER BY d.crt_time
  </select>

  <select id="selLineByMixerFcode" resultType="integer">
      SELECT
        line_id
      FROM b_dlv
      WHERE mixer_fcode = #{mixerFcode}
  </select>

  <select id="selDlvByDrvCcodeAndMixerFcode" resultType="com.car.domain.sys.Dlv">
      SELECT
          mixer_fcode,
          dlv_status,
          plate_no,
          line_id
      FROM b_dlv
      WHERE drv_ccode = #{drvCcode}
      AND mixer_fcode = #{mixerFcode}
      AND dlv_status IN (1,2,3)
  </select>

  <select id="selQaulifiedMixerByDrvId" resultType="com.car.domain.sys.Mixer">
      SELECT
          m.mixer_id,
          m.mixer_fcode,
          m.plate_no
      FROM b_drv_qaulified dq
      INNER JOIN b_mixer m ON dq.mixer_id = m.mixer_id
      WHERE dq.drv_id = #{drvId}
      AND m.useable = 1
  </select>

    <select id="selDrvOnduty" resultType="string">
       SELECT
          m.mixer_fcode
       FROM b_drv_onduty do
       INNER JOIN b_mixer m ON do.mixer_id = m.mixer_id
       WHERE do.drv_id = #{drvId}
    </select>

    <select id="selWaitMixer" resultType="string">
      SELECT
          m.mixer_fcode
      FROM
          b_line_mixer lm
      INNER JOIN b_mixer m ON lm.mixer_id = m.mixer_id
      WHERE
          m.useable = 1
      ORDER BY
          lm.prior
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from b_mixer
    where mixer_id = #{mixerId,jdbcType=INTEGER}
  </delete>
  <delete id="delDrvOnduty">
     DELETE FROM b_drv_onduty WHERE mixer_id = #{mixerId}
     AND drv_id = #{drvId}
  </delete>
  <insert id="insert" parameterType="com.car.domain.sys.Mixer" >
    insert into b_mixer (mixer_id, mixer_fcode, mixer_ccode, 
      plate_no, cur_load, net, 
      bridge, reg_date, owner_code, 
      owner_name, useable, mixer_status, 
      lately_dlv_id)
    values (#{mixerId,jdbcType=INTEGER}, #{mixerFcode,jdbcType=VARCHAR}, #{mixerCcode,jdbcType=INTEGER}, 
      #{plateNo,jdbcType=VARCHAR}, #{curLoad,jdbcType=DECIMAL}, #{net,jdbcType=SMALLINT}, 
      #{bridge,jdbcType=TINYINT}, #{regDate,jdbcType=DATE}, #{ownerCode,jdbcType=INTEGER}, 
      #{ownerName,jdbcType=VARCHAR}, #{useable,jdbcType=TINYINT}, #{mixerStatus,jdbcType=TINYINT}, 
      #{latelyDlvId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.car.domain.sys.Mixer" >
    insert into b_mixer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mixerId != null" >
        mixer_id,
      </if>
      <if test="mixerFcode != null" >
        mixer_fcode,
      </if>
      <if test="mixerCcode != null" >
        mixer_ccode,
      </if>
      <if test="plateNo != null" >
        plate_no,
      </if>
      <if test="curLoad != null" >
        cur_load,
      </if>
      <if test="net != null" >
        net,
      </if>
      <if test="bridge != null" >
        bridge,
      </if>
      <if test="regDate != null" >
        reg_date,
      </if>
      <if test="ownerCode != null" >
        owner_code,
      </if>
      <if test="ownerName != null" >
        owner_name,
      </if>
      <if test="useable != null" >
        useable,
      </if>
      <if test="mixerStatus != null" >
        mixer_status,
      </if>
      <if test="latelyDlvId != null" >
        lately_dlv_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mixerId != null" >
        #{mixerId,jdbcType=INTEGER},
      </if>
      <if test="mixerFcode != null" >
        #{mixerFcode,jdbcType=VARCHAR},
      </if>
      <if test="mixerCcode != null" >
        #{mixerCcode,jdbcType=INTEGER},
      </if>
      <if test="plateNo != null" >
        #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="curLoad != null" >
        #{curLoad,jdbcType=DECIMAL},
      </if>
      <if test="net != null" >
        #{net,jdbcType=SMALLINT},
      </if>
      <if test="bridge != null" >
        #{bridge,jdbcType=TINYINT},
      </if>
      <if test="regDate != null" >
        #{regDate,jdbcType=DATE},
      </if>
      <if test="ownerCode != null" >
        #{ownerCode,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null" >
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="useable != null" >
        #{useable,jdbcType=TINYINT},
      </if>
      <if test="mixerStatus != null" >
        #{mixerStatus,jdbcType=TINYINT},
      </if>
      <if test="latelyDlvId != null" >
        #{latelyDlvId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.domain.sys.Mixer" >
    update b_mixer
    <set >
      <if test="mixerFcode != null" >
        mixer_fcode = #{mixerFcode,jdbcType=VARCHAR},
      </if>
      <if test="mixerCcode != null" >
        mixer_ccode = #{mixerCcode,jdbcType=INTEGER},
      </if>
      <if test="plateNo != null" >
        plate_no = #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="curLoad != null" >
        cur_load = #{curLoad,jdbcType=DECIMAL},
      </if>
      <if test="net != null" >
        net = #{net,jdbcType=SMALLINT},
      </if>
      <if test="bridge != null" >
        bridge = #{bridge,jdbcType=TINYINT},
      </if>
      <if test="regDate != null" >
        reg_date = #{regDate,jdbcType=DATE},
      </if>
      <if test="ownerCode != null" >
        owner_code = #{ownerCode,jdbcType=INTEGER},
      </if>
      <if test="ownerName != null" >
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="useable != null" >
        useable = #{useable,jdbcType=TINYINT},
      </if>
      <if test="mixerStatus != null" >
        mixer_status = #{mixerStatus,jdbcType=TINYINT},
      </if>
      <if test="latelyDlvId != null" >
        lately_dlv_id = #{latelyDlvId,jdbcType=INTEGER},
      </if>
    </set>
    where mixer_id = #{mixerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.domain.sys.Mixer" >
    update b_mixer
    set mixer_fcode = #{mixerFcode,jdbcType=VARCHAR},
      mixer_ccode = #{mixerCcode,jdbcType=INTEGER},
      plate_no = #{plateNo,jdbcType=VARCHAR},
      cur_load = #{curLoad,jdbcType=DECIMAL},
      net = #{net,jdbcType=SMALLINT},
      bridge = #{bridge,jdbcType=TINYINT},
      reg_date = #{regDate,jdbcType=DATE},
      owner_code = #{ownerCode,jdbcType=INTEGER},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      useable = #{useable,jdbcType=TINYINT},
      mixer_status = #{mixerStatus,jdbcType=TINYINT},
      lately_dlv_id = #{latelyDlvId,jdbcType=INTEGER}
    where mixer_id = #{mixerId,jdbcType=INTEGER}
  </update>
</mapper>